.stats__title::before {
  content: '';
  position: absolute;
  left: 0;
  top: 25%;
  width: 1.4rem;
  height: 0.8px;
  background-color: gray;
}

.CircularProgressbar-path {
  stroke: #61d2b4 !important;
  stroke-linecap: butt !important;
}

.CircularProgressbar-trail{
  stroke: #c2c2c2 !important;
}

.CircularProgressbar-text{
  fill: #61d2b4 !important;
  stroke-linecap: butt !important;
  font-family: 'Roboto';
}

.resume__item:not(:last-child){
  margin-bottom: 4rem;
}

.resume__item::before{
  content: '';
  position: absolute;
  inset-block: 2.3rem;
  left: 1.3rem;
  height: 4rem;
  border-left: 1px solid #c2c2c2;
}

.resume__subtitule span {
  color: gray;
  font-weight: 700;
  font-size: 0.8rem;
  position: relative;
  padding-left: 1.5rem;
}

.resume__subtitule span::before {
  content: '';
  position: absolute;
  left: 0.2rem;
  top: 0.5rem;
  width: 0.7rem;
  height: 0.1rem;
  background-color: #c2c2c2;
}

