:root {
  --title-color: hsl(0,0%,40%);
  --text-color: hsl(0,0%,100%);
  --container-color: hsl(0,0%,87%);

  --weigth-400:400;
  --weigth-500:500;
  --weigth-600:600;
  --weigth-700:700;
  --weigth-800:800;
}

body,
input,
textarea {
  font-weight: var(--weigth-500);
}


button,
input,
textarea {
  background-color: transparent;
  border: none;
  outline: none;
}

img{
  max-width: 100%;
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-weight: var(--weigth-700);
}




/* ========BG BLOCK========= */

.color__block {
  clip-path: polygon(40% 0, 62% 51%, 37% 100%, 0 100%, 0 48%, 24% 0);
  z-index: -50;
}


/* ========BUTTON ANIMATION======= */

.button_animation {
  border: 1px solid #61d2b4;
}

.button_animation:hover{
  color: white;
}

.button_animation::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: #61d2b4;
  transform: translate(100%);
  z-index: -1;
  transition: all 0.4s ease-out;
}

.button_animation:hover::before {
  transform: translate(0);
}